@use "../globals/_colors" as *;
@use "../globals/_media-queries" as mq;

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__bottom {
        &--blackScreen {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-black-transparent;
            z-index: 1;
        }

        height: 100%;
        overflow: auto;
        display: flex;
    }
}

@include mq.medium {
    .app {
        &__bottom {
            &--blackScreen {
                &-hide {
                    display: none;
                }
            }
        }
    }
}