@use "../globals/_colors" as *;
@use "../globals/_media-queries" as mq;

.emptyPost {
    width: 750px;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--first {
        width: 32%;
        height: 30px;
        border-radius: 10px;
        background-color: $color-gray-light-2;
    }

    &--second {
        width: 40%;
        height: 30px;
        border-radius: 10px;
        background-color: $color-gray-light-2;
    }

    &--third {
        width: 100%;
        height: 80%;
        border-radius: 20px;
        background-color: $color-gray-light-2;
    }

    &--fourth {
        width: 40%;
        height: 30px;
        border-radius: 10px;
        background-color: $color-gray-light-2;
    }
}

@include mq.medium-big {
    .emptyPost {
        width: 650px;
    }
}

@include mq.medium {
    .emptyPost {
        width: 80%;
    }
}