@use "../globals/_colors" as *;
@use "../globals/_media-queries" as mq;

.imagePreview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        background-color: $color-black-transparent;
        border-radius: 40px;
        padding: 10px;
        cursor: pointer;
    }

    &__leftArrow {
        background-color: $color-black-transparent;
        border-radius: 40px;
        padding: 8px;
        position: absolute;
        top: 50%;
        left: 20px;
        width: 40px;
        cursor: pointer;
    }

    &__rightArrow {
        background-color: $color-black-transparent;
        border-radius: 40px;
        padding: 8px;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 40px;
        cursor: pointer;
    }

    &__image {
        padding: 20px;
        height: 100%;
        object-fit: cover;
        cursor: default;
    }

    &__blackScreen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-black-transparent;
        z-index: -1;
    }
}

@include mq.medium-big {
    .imagePreview {
        &__leftArrow {
            top: 47%;
        }

        &__rightArrow {
            top: 47%;
        }

        &__image {
            width: 100%;
            object-fit: contain;
        }
    }
}