@use "../globals/_colors" as *;
@use "../globals/_media-queries" as mq;

.post {
    width: 750px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: $color-gray-light-2;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-bottom: 10px;

        &--icon {
            width: 25px;
            height: 25px;
            border-radius: 25px;
            background-color: $color-gray-light-2;
            object-fit: cover;
        }

        &--name &--date {
            font-size: 0.9rem;
        }
    }

    &__content {
        &--text {
            font-size: 1.2rem;
            font-weight: 600;
            padding-bottom: 10px;
        }

        &--image {
            width: 100%;
            max-height: 500px;
            border-radius: 20px;
            object-fit: cover;
        }

        &--images {
            position: relative;

            &--leftArrow {
                background-color: $color-black-transparent;
                border-radius: 40px;
                padding: 8px;
                position: absolute;
                top: 50%;
                left: 10px;
                width: 40px;
            }

            &--rightArrow {
                background-color: $color-black-transparent;
                border-radius: 40px;
                padding: 8px;
                position: absolute;
                top: 50%;
                right: 10px;
                width: 40px;
            }

            &--image {
                width: 100%;
                height: 500px;
                border-radius: 20px;
                object-fit: cover;
            }
        }
    }

    &__stats {
        display: flex;
        gap: 10px;
        padding-top: 10px;

        &--votes {
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: $color-gray-light-1;
            border-radius: 20px;
            padding: 10px;
            font-weight: 600;
            cursor: pointer;

            &-red {
                background-color: $color-red;
                color: $color-white;
            }

            &--upvoteIcon,
            &--downvoteIcon {
                width: 18px;
            }
        }

        &--comments {
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: $color-gray-light-1;
            border-radius: 20px;
            padding: 10px;
            font-weight: 600;
            text-decoration: none;
            color: $color-black;
            cursor: pointer;

            &--icon {
                width: 18px;
            }
        }

        &--bookmark {
            display: flex;
            align-items: center;
            background-color: $color-gray-light-1;
            border-radius: 20px;
            padding: 10px;
            font-weight: 600;
            cursor: pointer;

            &-red {
                background-color: $color-red;
                color: $color-white;
            }

            &--icon {
                width: 18px;
            }
        }
    }
}

@include mq.medium-big {
    .post {
        width: 650px;
    }
}

@include mq.medium {
    .post {
        width: 100%;

        &__content {
            &--image {
                max-height: 450px;
            }

            &--images {
                max-height: 450px;

                &--leftArrow {
                    top: 45%;
                }

                &--rightArrow {
                    top: 45%;
                }

                &--image {
                    max-height: 300px;
                }
            }
        }
    }
}

@include mq.medium-small {
    .post {
        &__info {
            &--date {
                display: none;
            }
        }

        &__content {
            &--image {
                max-height: 300px;
            }

            &--images {
                &--image {
                    max-height: 300px;
                }
            }
        }
    }
}