$color-white: #ffffff;

$color-gray-light-3: #f9f9f9;
$color-gray-light-2: #f4f4f4;
$color-gray-light-1: #e7e7e7;
$color-gray-light-1-dark: #dbdbdb;
$color-gray: #e3e3e3;
$color-gray-dark: #bfbfbf;
$color-gray-darker: #9b9b9b;

$color-black: #000000;
$color-black-transparent: #000000b3;

$color-red: #ef4747;

$color-blue: #2732d2;
$color-blue-dark: #222cb5;