@use "../globals/_colors" as *;
@use "../globals/_media-queries" as mq;

.postDetails {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;

    &__right {
        width: 30%;
        height: 100%;
    }

    &__back {
        width: 35px;
        padding: 7px;
        background-color: $color-gray-light-1;
        border-radius: 35px;
        cursor: pointer;
    }

    &__main {
        min-width: 600px;
        max-width: 700px;

        &--commentTextarea {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 15px;
            width: 100%;
            padding: 10px 15px;
            border: $color-gray-dark solid 1px;
            border-radius: 25px;
            color: $color-gray-dark;
            background-color: $color-white;

            &--textarea {
                width: 100%;
                border: none;
                outline: none;
                font-size: 1rem;
                font-family: inherit;
                padding-top: 5px;
            }

            &--buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &--cancel {
                    border: none;
                    border-radius: 20px;
                    font-weight: 600;
                    padding: 10px;
                    background-color: $color-gray-light-1;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-gray-light-1-dark;
                    }
                }

                &--comment {
                    border: none;
                    border-radius: 20px;
                    font-weight: 600;
                    padding: 10px;
                    background-color: $color-blue;
                    color: $color-white;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-blue-dark;
                    }
                }
            }
        }

        &--comment {
            margin-top: 15px;
            width: 100%;
            padding: 10px 15px;
            border: $color-gray-dark solid 1px;
            border-radius: 25px;
            color: $color-gray-dark;
            font-size: 1.2rem;
            background-color: $color-white;
            text-align: start;
            cursor: pointer;

            &:hover {
                border: $color-gray-darker solid 1px;
                background-color: $color-gray-light-2;
                color: $color-gray-darker;
            }
        }

        &--text {
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            color: $color-gray-darker;
        }

        &--comments {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &--info {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 5px;

            &--right {
                &--author {
                    font-size: 0.9rem;
                    cursor: pointer;
                }

                &--top {
                    display: flex;
                    gap: 5px;

                    &--name {
                        font-size: 0.9rem;
                        font-weight: 600;
                        cursor: pointer;
                    }

                    &--date {
                        font-size: 0.9rem;
                    }
                }
            }

            &--icon {
                width: 35px;
                height: 35px;
                border-radius: 35px;
                background-color: $color-gray-light-2;
                object-fit: cover;
                cursor: pointer;
            }
        }

        &--content {
            &--text {
                font-size: 1.8rem;
                font-weight: 600;
                padding-bottom: 10px;
            }

            &--image {
                width: 700px;
                height: 400px;
                border-radius: 20px;
                object-fit: cover;
                cursor: pointer;
            }

            &--images {
                position: relative;

                &--leftArrow {
                    background-color: $color-black-transparent;
                    border-radius: 40px;
                    padding: 8px;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    width: 40px;
                    cursor: pointer;
                }

                &--rightArrow {
                    background-color: $color-black-transparent;
                    border-radius: 40px;
                    padding: 8px;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    width: 40px;
                    cursor: pointer;
                }

                &--image {
                    width: 700px;
                    height: 500px;
                    border-radius: 20px;
                    object-fit: cover;
                    cursor: pointer;
                }
            }

            &--fullText {
                padding-top: 5px;
                padding-bottom: 10px;
            }
        }

        &--stats {
            display: flex;
            gap: 10px;
            padding-top: 10px;

            &--votes {
                display: flex;
                align-items: center;
                gap: 5px;
                background-color: $color-gray-light-1;
                border-radius: 20px;
                padding: 10px;
                font-weight: 600;
                cursor: pointer;

                &-red {
                    background-color: $color-red;
                    color: $color-white;
                }

                &--upvoteIcon,
                &--downvoteIcon {
                    width: 18px;
                }
            }

            &--comments {
                display: flex;
                align-items: center;
                gap: 5px;
                background-color: $color-gray-light-1;
                border-radius: 20px;
                padding: 10px;
                font-weight: 600;
                text-decoration: none;
                color: $color-black;
                cursor: pointer;

                &--icon {
                    width: 18px;
                }
            }

            &--bookmark {
                display: flex;
                align-items: center;
                background-color: $color-gray-light-1;
                border-radius: 20px;
                padding: 10px;
                font-weight: 600;
                cursor: pointer;

                &-red {
                    background-color: $color-red;
                    color: $color-white;
                }

                &--icon {
                    width: 18px;
                }
            }

            &--delete {
                display: flex;
                align-items: center;
                background-color: $color-gray-light-1;
                border-radius: 20px;
                padding: 10px;
                font-weight: 600;
                cursor: pointer;

                &--icon {
                    width: 18px;
                }
            }
        }
    }
}

@include mq.medium {
    .postDetails {
        padding-left: 35px;

        &__main {
            min-width: 0;
            max-width: none;
            width: 100%;

            &--content {
                &--image {
                    min-width: 200px;
                    max-width: 100%;
                    height: unset;
                    min-height: 200px;
                    max-height: 450px;
                }

                &--images {
                    min-width: 200px;
                    max-width: 100%;
                    height: unset;
                    min-height: 200px;
                    max-height: 450px;

                    &--leftArrow {
                        top: 40%;
                    }

                    &--rightArrow {
                        top: 40%;
                    }

                    &--image {
                        min-width: 200px;
                        max-width: 100%;
                        height: unset;
                        min-height: 200px;
                        max-height: 450px;
                    }
                }
            }
        }
    }
}

@include mq.medium-small {
    .postDetails {
        padding-left: 10px;

        &__main {
            padding-right: 10px;

            &--info {
                &--right {
                    &--top {
                        &--date {
                            display: none;
                        }
                    }
                }
            }

            &--content {
                &--text {
                    font-size: 1.3rem;
                }

                &--image {
                    max-height: 300px;
                }

                &--images {
                    &--image {
                        max-height: 300px;
                    }
                }
            }
        }

        &__right {
            display: none;
        }
    }
}