// Globals
@use "./globals/_colors";
@use "./globals/_globals";
@use "./globals/_media-queries";

// Components
@use "./components/_app";
@use "./components/header/_header";
@use "./components/header/_community-link-header";
@use "./components/sidebar/_sidebar";
@use "./components/sidebar/_community-link";
@use "./components/_post";
@use "./components/_image-preview";
@use "./components/_comment";
@use "./components/_sub-comment";
@use "./components/_empty-post";

// Pages
@use "./pages/_community";
@use "./pages/_home";
@use "./pages/_all";
@use "./pages/_post-details";
@use "./pages/_profile";
@use "./pages/_bookmarks";
@use "./pages/create/_create";
@use "./pages/create/_community-link-create";
@use "./pages/_authorization";